---
import { Navbar } from "@/components/navbar";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Ocobobyte | Tech Comunnity in Ibagué">
  <main class="flex flex-col mx-auto w-full md:w-[1368px]">
    <div class="container">
		<Navbar />
    </div>
  </main>
</Layout>
